@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap&family=Rubik:wght@400;700&display=swap'");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --color-main: #fed700;
  --color-skydeep: #0564d2;
  --color-gray: #949292;
  --color-green: #62ab00;
}
